@model State
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Create State</h5>
        <form asp-action="Create" method="post">

            <div class="form-group">
                <label asp-for="StateName">StateName</label>
                <div>
                    <input asp-for="StateName" class="form-control" />
                </div>
            </div>
            <div class="col-12">
                <label class="form-label">Select Country </label>
                <select class="form-select" asp-for="CountryID" asp-items="@ViewBag.Countries">
                    <option>Select Country</option>
                </select>

            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

                        