@model EditProfileDeto
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CRM Company </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/backassets/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/backassets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/backassets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/backassets/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/backassets/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/backassets/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/backassets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/backassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/backassets/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/backassets/images/favicon.png" />
</head>
<body>
    <div class="containerl">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-12mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            @* <div class="brand-logo">
                                <img src="~/backassets/images/logo.svg" alt="logo">
                            </div> *@
                            <h2>CRM</h2>
                            <h4>Edit Profile</h4>

                            <form class="pt-12" asp-action="EditProfile" method="post">
                                <div class="alert alert-info">
                                    @ViewBag.Message
                                </div>
                                <div class="col-12">
                                    <label class="form-label">EmailID</label>
                                    <input asp-for="EmailID" class="form-control " />
                                    <span asp-validation-for="EmailID"></span>
                                    
                                </div>
                                <div class="col-12">
                                    <label class="form-label">MobileNo</label>
                                    <input asp-for="MobileNO" class="form-control " />
                                    <span asp-validation-for="MobileNO"></span>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary" >Submit</button>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/backassets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/backassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/backassets/js/off-canvas.js"></script>
    <script src="~/backassets/js/template.js"></script>
    <script src="~/backassets/js/settings.js"></script>
    <script src="~/backassets/js/hoverable-collapse.js"></script>
    <script src="~/backassets/js/todolist.js"></script>
    <!-- endinject -->
</body>
</html>